@import "tailwindcss";

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fadeInDown {
  animation: fadeInDown 0.8s ease forwards;
}

@keyframes scaleFadeIn {
  from { opacity: 0; transform: scale(0.8);}
  to { opacity: 1; transform: scale(1);}
}
.animate-scaleFadeIn {
  animation: scaleFadeIn 0.7s ease forwards;
}

@keyframes slideUpFade {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-slideUpFade {
  animation: slideUpFade 0.7s ease forwards;
}

@keyframes zoomFadeIn {
  from { opacity: 0; transform: scale(0.7);}
  to { opacity: 1; transform: scale(1);}
}
.animate-zoomFadeIn {
  animation: zoomFadeIn 0.7s ease forwards;
}

/* Ubuntu fonts */
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Default for whole site */
body {
  font-family: 'Ubuntu', sans-serif;
}
