@import "tailwindcss";

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fadeInDown {
  animation: fadeInDown 0.8s ease forwards;
}

@keyframes scaleFadeIn {
  from { opacity: 0; transform: scale(0.8);}
  to { opacity: 1; transform: scale(1);}
}
.animate-scaleFadeIn {
  animation: scaleFadeIn 0.7s ease forwards;
}

@keyframes slideUpFade {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-slideUpFade {
  animation: slideUpFade 0.7s ease forwards;
}

@keyframes slideDown {
  from { 
    opacity: 0; 
    transform: translateY(-10px);
    max-height: 0;
  }
  to { 
    opacity: 1; 
    transform: translateY(0);
    max-height: 500px;
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideUp {
  from { 
    opacity: 1; 
    transform: translateY(0);
    max-height: 500px;
  }
  to { 
    opacity: 0; 
    transform: translateY(-10px);
    max-height: 0;
  }
}
.animate-slideUp {
  animation: slideUp 0.3s ease forwards;
}

@keyframes zoomFadeIn {
  from { opacity: 0; transform: scale(0.7);}
  to { opacity: 1; transform: scale(1);}
}
.animate-zoomFadeIn {
  animation: zoomFadeIn 0.7s ease forwards;
}

/* Ubuntu fonts */
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Default for whole site */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
